* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
font-family: Museo-100;
src: url('/ASSET/Museo100-Regular.otf');
}
@font-face {
font-family: Museo-300;
src: url('/ASSET/Museo300-Regular.otf');
}
@font-face {
font-family: Museo-500;
src: url('/ASSET/Museo500-Regular.otf');
}
@font-face {
font-family: Museo-700;
src: url('/ASSET/Museo700-Regular.otf');
}
@font-face {
font-family: Museo-900;
src: url('/ASSET/Museo900-Regular.otf');
}
html {
	margin: 0 auto;
	-ms-touch-action: none;
	height: 100%;
	font-family: Museo-300;
}
body {
	margin: 0 auto;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}
.fadeanim .ng-enter {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0;
}
.fadeanim .ng-enter-stagger {

}
.fadeanim .ng-enter-active {
	opacity: 1;
}
.fadeanim .ng-leave {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 1;
}
.fadeanim .ng-enter-stagger {

}
.fadeanim .ng-leave-active {
	opacity: 0;
}

#site-wrapper {
	position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

#site-canvas {
	width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
}
#site-wrapper.show-nav #site-canvas {
    -webkit-transform: translateX(20%);
    transform: translateX(20%);
}
#side-menu {
	background-image: url('/ASSET/bg-ios.png');
	display: block;
	width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
}

#side-key {
	top: 0;
	left: 0;
	height: 50px;
	background-color: #242424;
	opacity: 0.85;
}
#side-key input {
	margin-left: 6%;
	width: 88%;
	margin-top: 15px;
	border: 1px solid #787878;
	border-radius: 20px;
	outline: 0px solid;
	text-align: center;
}
#side-key input :focus{
	outline: 0px solid;
	border: 0px solid;
}

.blue {
    border: solid 1px #004F72;
    background-color: #3BA4C7;
    background: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%);
    background: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 );
    background: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);
    -webkit-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #00CCFF, inset 0px 0px 1px #FFFFFF;
}

.blue:hover {
    background-color: #1f97bf;
    background: -moz-linear-gradient(top, #1f97bf 0%, #0b7396 100%);
    background: -webkit-linear-gradient(top, #1f97bf 0%, #0b7396 100%);
    background: -o-linear-gradient(top, #1f97bf 0%, #0b7396 100%);
    background: -ms-linear-gradient(top, #1f97bf 0% ,#0b7396 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b7396', endColorstr='#0b7396',GradientType=0 );
    background: linear-gradient(top, #1f97bf 0% ,#0b7396 100%);
}

.blue:active {
    background-color: #1b7694;
    background: -moz-linear-gradient(top, #1b7694 0%, #0d6380 100%);
    background: -webkit-linear-gradient(top, #1b7694 0%, #0d6380 100%);
    background: -o-linear-gradient(top, #1b7694 0%, #0d6380 100%);
    background: -ms-linear-gradient(top, #1b7694 0% ,#0d6380 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d6380', endColorstr='#0d6380',GradientType=0 );
    background: linear-gradient(top, #1b7694 0% ,#0d6380 100%);
}

.green {
    border: solid 1px #3b7200;
    background-color: #88c72a;
    background: -moz-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -webkit-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -o-linear-gradient(top, #88c72a 0%, #709e0e 100%);
    background: -ms-linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#709e0e', endColorstr='#709e0e',GradientType=0 );
    background: linear-gradient(top, #88c72a 0% ,#709e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #66FF00, inset 0px 0px 1px #FFFFFF;
}

.green:hover {
    background-color: #7fb52f;
    background: -moz-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -webkit-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -o-linear-gradient(top, #7fb52f 0%, #67910b 100%);
    background: -ms-linear-gradient(top, #7fb52f 0% ,#67910b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67910b', endColorstr='#67910b',GradientType=0 );
    background: linear-gradient(top, #7fb52f 0% ,#67910b 100%);
}

.green:active {
    background-color: #638f22;
    background: -moz-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -webkit-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -o-linear-gradient(top, #638f22 0%, #486608 100%);
    background: -ms-linear-gradient(top, #638f22 0% ,#486608 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486608', endColorstr='#486608',GradientType=0 );
    background: linear-gradient(top, #638f22 0% ,#486608 100%);
}

.red {
    border: solid 1px #720000;
    background-color: #c72a2a;
    background: -moz-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -webkit-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -o-linear-gradient(top, #c72a2a 0%, #9e0e0e 100%);
    background: -ms-linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e0e0e', endColorstr='#9e0e0e',GradientType=0 );
    background: linear-gradient(top, #c72a2a 0% ,#9e0e0e 100%);
    -webkit-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #FF3300, inset 0px 0px 1px #FFFFFF;
}

.red:hover {
    background-color: #b52f2f;
    background: -moz-linear-gradient(top, #b52f2f 0%, #910b0b 100%);
    background: -webkit-linear-gradient(top, #b52f2f 0%, #910b0b 100%);
    background: -o-linear-gradient(top, #b52f2f 0%, #910b0b 100%);
    background: -ms-linear-gradient(top, #b52f2f 0% ,#910b0b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#910b0b', endColorstr='#910b0b',GradientType=0 );
    background: linear-gradient(top, #b52f2f 0% ,#910b0b 100%);
}

.red:active {
    background-color: #8f2222;
    background: -moz-linear-gradient(top, #8f2222 0%, #660808 100%);
    background: -webkit-linear-gradient(top, #8f2222 0%, #660808 100%);
    background: -o-linear-gradient(top, #8f2222 0%, #660808 100%);
    background: -ms-linear-gradient(top, #8f2222 0% ,#660808 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660808', endColorstr='#660808',GradientType=0 );
    background: linear-gradient(top, #8f2222 0% ,#660808 100%);
}

.gray {
    border: solid 1px #333333;
    background-color: #8f8f8f;
    background: -moz-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -webkit-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -o-linear-gradient(top, #8f8f8f 0%, #616161 100%);
    background: -ms-linear-gradient(top, #8f8f8f 0% ,#616161 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#616161',GradientType=0 );
    background: linear-gradient(top, #8f8f8f 0% ,#616161 100%);
    -webkit-box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
    -moz-box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
    box-shadow: 0px 0px 1px #999999, inset 0px 0px 1px #FFFFFF;
}

.square {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.sidebutton {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}
.sidebutton  a {
	font-size: 18px;
	font-weight: lighter;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	display: block;
}
#map_canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	z-index: 1111;
	left: 0;
	position: relative;

}


.seg1main {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2222;
	pointer-events: none;
}

.seg2main {
	margin: 0 auto;
	background-color: #FFF;
}

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
	0% 		{ transform: rotateZ(0deg); }
	20% 	{ transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% 	{ transform: rotateZ(17deg); }
	60% 	{ transform: rotateZ(16deg); }
	100% 	{ transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
	to 		{ transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
	from 	{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}


.page-about .ng-enter { 
	animation:slideOutLeft 0.5s both ease-in; 
}
.page-about .ng-enter-stagger { 
	transition-delay: 0.1;
}


@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}