#nav-banner {
	top: 0;
	left: 0;
	height: 50px;
	background-color: #FFF;
	pointer-events: all;
	opacity: 0.85;
	-moz-box-shadow: 0 0 6px #CDCDCD;
	-webkit-box-shadow: 0 0 6px #CDCDCD;
	box-shadow: 0 0 6px #CDCDCD;
}

