#nav-banner {
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	display: block;
	background-color: #FFF;
	-webkit-filter: blur(20px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    opacity: 0.95;
    z-index: 7777;

}
